.LineChartComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  border-radius: 5px;
  background-color: red;
  background-image: linear-gradient(
    to right,
    transparent 73%,
    rgba(196, 11, 11, 0.5) 70%
  );
}

.title {
  max-width: 160px;
  text-align: start;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 15px;
  color: #eedede;
}
.custom_lineChart_toolTip {
  background-color: white;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .LineChartComponent {
    width: 260px;
  }
}
@media screen and (max-width: 1024px) {
  .LineChartComponent {
    margin-bottom: 20px;
    width: 100%;
  }
}
