.RadarChartComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 29%;
  height: 290px;
  border-radius: 5px;
  padding: 5px;
  background-color: #282d30;
}
@media screen and (max-width: 1200px) {
  .RadarChartComponent {
    width: 45%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .RadarChartComponent {
    margin-bottom: 20px;
    width: 100%;
  }
}
