.RadarChartComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 268px;

  border-radius: 5px;
  background-color: rgb(49, 62, 98);
  margin-left: 30px;

  background-color: #282d30;
}
