.Home {
  display: flex;
}
.container-graph {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.graphics {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.mini-graph {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .container-graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .graphics {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .mini-graph {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .Home {
    display: flex;
  }

  .graphics {
    width: 690px;
    margin: 0;
  }
  .mini-graph {
    flex-wrap: wrap;
    width: 690px;
  }
}
