.ItemsBar {
  min-height: 100vh;
  width: 117px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.copiryght {
  width: 200px;
  transform: rotate(-90deg);
  color: white;
}
