.BarChartConponent {
  width: 100%;
  height: 320px;
  position: relative;
  z-index: 1;
  background-color: #fbfbfb;
  margin-bottom: 25px;
}
.test {
  width: 50px;
}
.activity-title {
  width: 200px;
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 15px;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#txt-error {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.custom_toolTip {
  background-color: #d20c0c;
  font-size: 10px;
  color: white;
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  font-weight: 500;
  font-size: 12px;
}
@media screen and (max-width: 1200px) {
  .BarChartConponent {
    max-width: 860px;
  }
}
@media screen and (max-width: 1024px) {
  .BarChartConponent {
    max-width: 690px;
  }
}
