.PieChartComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 243px;
  padding: 20px;
  position: relative;
  background-color: #fbfbfb;
}
.score {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}
.perf-title {
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .PieChartComponent {
    width: 240px;
  }
}
@media screen and (max-width: 1024px) {
  .PieChartComponent {
    width: 100%;
    margin-left: 0;
  }
}
