.PieChartComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 29%;
  height: 243px;
  padding: 25px;
  position: relative;
  background-color: #fbfbfb;
  border-radius: 5px;
}
.score {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}
.perf-title {
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .PieChartComponent {
    width: 38%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .PieChartComponent {
    width: 100%;
    margin-left: 0;
  }
}
