.CounterBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 650px;
  margin-top: 170px;
}
.card {
  width: 300px;
  height: 124px;
  display: flex;
  justify-content: space-around;
  background-color: #fbfbfb;
}
.stikers {
  display: flex;
  align-items: center;
}
.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88px;
}
@media screen and (max-width: 1200px) {
  .CounterBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height: 300px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .CounterBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 690px;
    margin-top: 20px;
    height: 300px;
  }
}
